/** @format */
:root {
	--white: hsl(0, 0%, 81%);
	--black: hsl(0, 0%, 0%);
}
*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: "Cutive Mono", monospace;
	color: var(--white);
	background-color: var(--black);
}

img {
	width: 100%;
	height: auto;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.8rem;
	color: var(--white);
}

a {

	color: var(--white);
}

svg {
	fill: white;
}

main {
	display: grid;
	grid-template-columns:
		minmax(1rem, 1fr) minmax(auto, 1600px)
		minmax(1rem, 1fr);
}

main > * {
	grid-column: 2;
}

/* MOBIL  KNAPPER  ====================================================================================== */
.btn-container {
	width: 20em;
	margin-inline: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btn {
	width: 80%;
	font-size: 2rem;
	text-align: center;
	padding-block: 0.1em;
	padding-inline: 0.3em;
}

.btn.about a {
	color: var(--white);
}
.btn.about {
	border: 1px solid var(--white);
}

.btn.contact a {
	color: var(--black);
}
.btn.contact {
	background: var(--white);
}

/* MOBIL  HEADER  ====================================================================================== */
header{	
	width: 100vw;
	height: auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 0 2em;
	margin: 1rem 0 5rem 0;
}

/* MOBIL INDEX ====================================================================================== */

#section_themes > h2 {
	display: none;
}

.themes_container {
	margin-block: 5rem;
	transform: scale(0.8) skew(-20deg) rotate(-20deg);
}
.themes_container > h3 a {
	color: var(--white);
	letter-spacing: -0.2rem;
}
.themes_container > h3:not(:last-child) {
	padding-bottom: 2rem;
}

#section_me {
	display: none;
}

.svg_container {
	display: none;
}

/* MOBIL TEMAER ====================================================================================== */

#main_tema h2, 
#main_tema p, 
#main_tema section{
	margin-bottom: 2rem;
}



#main_tema .iframe_wrapper {
	position: relative;
	width: 100%;
	height: 0;
	
	padding-top: calc(100% / (16/9)); /* 56.25% */
}
#main_tema iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	inset: 0;
}
#main_tema picture {
	width: 100%;
}

.tema_svg_container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-block: 2rem;
	
	margin-top: 4rem;
}
.tema_svg_container svg{
	width: 4rem;
	margin-inline: .5rem;
}

#main_tema .section_tema1 {
	/* border: 1px solid var(--white); */
}
#main_tema .section_tema1 .content_wrapper{
	padding: 2rem 2rem 0 2rem;
}

/*TODO Understregninger*/
/* #main_tema .setion_tema1 h2 {
	position: relative;
}

#main_tema .setion_tema1 h2::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	
	width: 2rem;
	height: 1px;
	background-color: var(--white);
} */


/* DESKTOP INDEX MEDIAQUERIES ====================================================================================== */
@media only screen and (min-width: 600px) {
	main {
		display: grid;
	}
	h3 {
		font-size: 1.8rem;
	}
	h2 {
		font-size: 1.8rem;
	}

	a {
		color: var(--white);
	}

	header {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		height: 10vh;
		margin: 0;
	}
	header h1, header h2, header .btn-container{
		place-self: center;
		
	}

	.btn-container {
		margin-inline: 0;
	}

	.btn-container {
		width: 35em;
		flex-direction: row;
	}
	.btn {
		width: 100%;
		font-size: 1.5rem;
		text-align: center;
		padding-block: 0.3em;
	}

	#main_tema p{
		width: 60ch;
	}

	#section_hero {
		margin-top: 6rem;
		grid-column: 2;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	#section_themes {
		height: 80vh;
		grid-column: 1;

		padding-bottom: 14rem;

		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	#section_themes > h2 {
		display: block;
		text-orientation: mixed;
		writing-mode: sideways-lr;

		transform: skew(25deg) rotate(24deg);

		padding-bottom: 2rem;
		margin: 0 2rem 4rem 2rem;
	}
	#section_themes .themes_container > h3:not(:last-child) {
		margin-bottom: 3.05rem;
	}

	.themes_container {
		margin-block: 0;
		transform: scale(0.8) skew(-20deg) rotate(-20deg) translate(1rem, -1.5rem);
	}

	.svg_container {
		display: block;
		transform: skew(22deg) rotate(20deg) translateY(-2rem);
		width: 5rem;
	}

	.svg_row {
		display: flex;
	}
	.svg_row svg {
		margin-inline: .1rem;
	}

	
	.svg_row:not(:last-child) {
		margin-bottom: 4rem;
	}

	#section_me {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: auto;
	}
	#section_me img {
		width: 20vw;
	}

	#section_me h2 {
		position: relative;
		transform: skew(22deg) rotate(20deg) translateY(3rem);
		letter-spacing: -0.2rem;
	}
	#section_me > div {
		max-width: 20vw;
		max-height: 20vw;
	}
	#section_me .canvas {
		width: 100%;
		height: 100%;
		position: relative;
		transform: skew(22deg) rotate(20deg) translateY(5rem);
	}
	#section_me .reflect {
		position: relative;
		transform: skew(-70deg) rotateX(110deg) rotateY(10deg) scale(2, 0.7)
			translateX(-8rem);
		filter: blur(50px);
		opacity: 0.5;
	}
}
/* DESKTOP TEMA 1 MEDIAQUERIES ====================================================================================== */
@media only screen and (min-width: 600px) {
	#main_tema {
		 align-items: flex-start;
		 height: 90vh;
	}
	.section_tema1 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.section_wrapper{
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	.section_tema1 p{
		width: 60ch;
	}
	.section_tema1 h2{
		grid-column: 2/4;
		text-align: center;
		padding-bottom: 4rem;
	}

	.section_tema1 .content_wrapper{
		grid-column: 1/3;
		grid-row: 2/3;

		display: flex;
		flex-direction: column;
		justify-content: center;

	}
	.section_tema1 .iframe_wrapper{
		grid-column: 3/5;
		grid-row: 2/3;
	}
	
}


/* DESKTOP TEMA 2 MEDIAQUERIES ====================================================================================== */
@media only screen and (min-width: 600px) {
	#main_tema {
		 align-items: flex-start;
		 height: 90vh;
	}

	.section1_tema2, .section2_tema2{
		display: grid;
		grid-template-columns: repeat(10, 1fr);
	}
	
	
	.section1_tema2 h2{
		grid-column: 4/8;
		text-align: center;
		padding-bottom: 4rem;
	}

	.section1_tema2 .content_wrapper{
		grid-column: 4/11;
		grid-row: 2/3;
		gap: 1rem;

		display: grid;
		grid-template-columns: repeat(7, 1fr);

	}
	.section1_tema2 .content_wrapper p{
		grid-column: 1/5;
	}
	
	.section1_tema2 .content_wrapper  .img1 {
		grid-column: 5/8;
		grid-row: 2/4;
	}
	.section1_tema2 .content_wrapper  .img2 {
		grid-column: 4/6;
		grid-row: 4/6;
	}




	.section2_tema2 h2{
		grid-column: 4/8;
		text-align: center;
		padding-bottom: 4rem;
	}

	.section2_tema2 .content_wrapper{
		grid-column: 3/8;
		grid-row: 2/3;
		gap: 1rem;

		display: grid;
		grid-template-columns: repeat(7, 1fr);

	}
	.section2_tema2 .content_wrapper .p1{
		grid-column: 4/-1;
		grid-row: 2/5;
	}
	.section2_tema2 .content_wrapper .p2{
		grid-column: 4/-1;
		grid-row: 3/5;
	}
	
	.section2_tema2 .content_wrapper  .img1 {
		grid-column: 1/4;
		grid-row: 2/5;
	}
	.section2_tema2 .content_wrapper  .img2 {
		grid-column: 2/5;
		grid-row: 5/7;
	}
	
}


/* DESKTOP TEMA 3 MEDIAQUERIES ====================================================================================== */
@media only screen and (min-width: 600px) {
	

	.section1_tema3, .section2_tema3{
		display: grid;
		grid-template-columns: repeat(10, 1fr);
	}
	
	
	.section1_tema3 h2{
		grid-column: 4/8;
		text-align: center;
		padding-bottom: 4rem;
	}

	.section1_tema3 .content_wrapper{
		grid-column: 4/11;
		grid-row: 2/3;
		gap: 1rem;

		display: grid;
		grid-template-columns: repeat(7, 1fr);

	}
	.section1_tema3 .content_wrapper p{
		grid-column: 1/5;
	}
	
	.section1_tema3 .content_wrapper  .img1 {
		grid-column: 5/8;
		grid-row: 2/4;
	}
	.section1_tema3 .content_wrapper  .img2 {
		grid-column: 4/6;
		grid-row: 4/6;
	}




	.section2_tema2 h2{
		grid-column: 4/8;
		text-align: center;
		padding-bottom: 4rem;
	}

	.section2_tema2 .content_wrapper{
		grid-column: 3/8;
		grid-row: 2/3;
		gap: 1rem;

		display: grid;
		grid-template-columns: repeat(7, 1fr);

	}
	.section2_tema2 .content_wrapper .p1{
		grid-column: 4/-1;
		grid-row: 2/5;
	}
	.section2_tema2 .content_wrapper .p2{
		grid-column: 4/-1;
		grid-row: 3/5;
	}
	
	.section2_tema2 .content_wrapper  .img1 {
		grid-column: 1/4;
		grid-row: 2/5;
	}
	.section2_tema2 .content_wrapper  .img2 {
		grid-column: 2/5;
		grid-row: 5/7;
	}
	
}

/* DESKTOP TEMA 4 MEDIAQUERIES ====================================================================================== */
/* DESKTOP TEMA 5 MEDIAQUERIES ====================================================================================== */
/* DESKTOP OM MIG MEDIAQUERIES ====================================================================================== */
/* DESKTOP CONTACT MEDIAQUERIES ====================================================================================== */